[submodule "external/age"]
	path = external/age
	url = https://github.com/apache/age
	branch = release/PG15/1.5.0
[submodule "external/pgvector"]
	path = external/pgvector
	url = https://github.com/pgvector/pgvector
	branch = v0.8.1
[submodule "external/pg_duckdb"]
	path = external/pg_duckdb
	url = https://github.com/duckdb/pg_duckdb
[submodule "external/VectorChord"]
	path = external/VectorChord
	url = https://github.com/tensorchord/VectorChord.git
[submodule "external/pg_tokenizer.rs"]
	path = external/pg_tokenizer.rs
	url = https://github.com/tensorchord/pg_tokenizer.rs
[submodule "external/VectorChord-bm25"]
	path = external/VectorChord-bm25
	url = https://github.com/tensorchord/VectorChord-bm25
[submodule "external/pg_net"]
	path = external/pg_net
	url = https://github.com/supabase/pg_net
[submodule "external/pg_cron"]
	path = external/pg_cron
	url = https://github.com/citusdata/pg_cron
[submodule "external/pgaudit"]
	path = external/pgaudit
	url = https://github.com/pgaudit/pgaudit
	branch = REL_15_STABLE
[submodule "external/wal2json"]
	path = external/wal2json
	url = https://github.com/eulerto/wal2json/
[submodule "external/pg-safeupdate"]
	path = external/pg-safeupdate
	url = https://github.com/eradman/pg-safeupdate
[submodule "external/index_advisor"]
	path = external/index_advisor
	url = https://github.com/supabase/index_advisor
